.identiter h1{
	color: #47B354;
	font-size: 3.5em;
}
.titre h1{
	color: #50A4A2;
	font-size: 3.5em;
}
.competence h1{
	color: #C16A3F;
	font-size: 3.5em;
}
.contenu h1{
	color: #532476;
	font-size: 3.5em;
}
.competence p{
	font-size: 2em;
}
p, h3{
	color: #23170B;
	font-size: 2em;
}
strong{
	color: black;
}
h2{
	color: black;
	font-size: 2.2em;
	font-weight: bold;
}
.date{
	font-size: 1.5em;
}
.titre{
	border: 5px black solid;
	border-radius: 15px;
	text-align: center;
	height: 202px;
	width: 1000px;
	order: 2;
}
.identiter{
	border: 5px black solid;
	border-radius: 15px;
	text-align: center;
	width: 460px;
	margin-right: 25px;
}
.competence{
	border: 5px black solid;
	border-radius: 15px;
	text-align: center;
	width: 460px;
	margin-right: 25px;
	margin-top: 10px;
}
.contenu{
	border: 5px black solid;
	border-radius: 15px;
	text-align: center;
	width: 1000px;
	margin-top: -280px;
}
.conteneur1{
	display: flex;
}
.conteneur2{
	display: flex;
}

@media screen and (max-width: 1218px){
	.titre{
		width: 100%;
		height: auto;
		margin: auto;
	}
	.identiter{
		width: 100%;
		margin: auto;
		margin-top: 10px;
	}
	.competence{
		width: 100%;
		margin: auto;
		margin-top: 10px;
	}
	.contenu{
		width: 100%;
		margin: auto;
		margin-top: 10px;
		text-align: left;
	}
	.conteneur1{
		display: block;
	}
	.conteneur2{
		display: block;
	}
	body{
		margin-right: 15px;
		margin-left: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.contenu p{
		margin-left: 10px;
	}
	.contenu h2{
		margin-left: 10px;
	}
}
@media all and (max-device-width: 480px){
	.titre{
		width: 100%; 
		height: auto;
		margin: auto;
	}
	.identiter{
		width: 100%;
		margin: auto;
		margin-top: 10px;
	}
	.competence{
		width: 100%;
		margin: auto;
		margin-top: 10px;
	}
	.contenu{
		width: 100%;
		margin: auto;
		margin-top: 10px;
		text-align: left;
	}
	.conteneur1{
		display: block;
	}
	.conteneur2{
		display: block;
	}
	#certification{
	text-align: none;
	}
	body{
		margin-right: 15px;
		margin-left: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.contenu p{
		margin-left: 10px;
	}
	.contenu h2{
		margin-left: 10px;
	}
} 
